.eachItem{
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 7px;
  margin-bottom: 5px;
  position: relative;
}
.flx{
  display: flex;
  padding: 5px;
}
h5{
  padding-left: 8px;
}
.span{
  position: absolute;
  right: 10px;
}
.invalid{
  border
  :1px solid #ff0000
}
label{
  color: #ff0000;
  padding-bottom: 15px;
}
.bg{
  cursor: pointer;
}

.bg-salmon {
  width: 100%;
  border-style: solid;
  border-color: red;
  border-width: 1px;
  height: 40px;
  border-radius: 5px;
}
